.product {
    margin-top: 15px;
    .wrapper {
        display: flex;
    }
    &__content {
        margin-top: 32px;
        &__title {
            h1 {
                font-family: SVN-Product Sans;
                font-style: normal;
                font-weight: bold;
                font-size: 48px;
                line-height: 72px;
                margin-bottom: 0;
            }
            p {
                max-width: 600px;
                height: 48px;
                font-family: Roboto;
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 24px;
                margin-top: 4px;
                margin-bottom: 0px;
                color: #000000;
            }
        }
        &__description {
            position: relative;
            margin-top: 55px;
            background: #ffffff;
            box-shadow: 0px 6px 36px rgba(0, 0, 0, 0.1);
            border-radius: 16px;
            padding: 32px 32px 32px 40px;
            height: 319px;
            .tape {
                position: absolute;
                width: 26.56px;
                height: 126.75px;
                left: 8px;
                top: -39px;
                background: #fcd4d4;
                opacity: 0.7;
                transform: rotate(43.17deg);
            }
            .description__info {
                p {
                    font-family: Roboto;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 24px;
                    /* identical to box height, or 150% */
                    color: #000000;
                }
            }
            .description__param {
                ul {
                    padding: 0;
                    li {
                        list-style: none;
                        margin-bottom: 16px;
                        margin-right: 0;
                        img {
                            display: inline-block;
                        }
                        span {
                            font-family: Roboto;
                            font-style: normal;
                            font-weight: normal;
                            font-size: 16px;
                            line-height: 24px;
                            /* identical to box height, or 150% */
                            color: #000000;
                        }
                    }
                }
                .btn {
                    margin-top: 14px;
                    width: 170px;
                    height: 40px;
                    /* Primary */
                    background: #ffc800;
                    border-radius: 12px;
                }
            }
        }
    }
    &__person {
        position: relative;
        .person3 {
            position: absolute;
            top: 32px;
            left: 107px;
        }
        .person2 {
            position: absolute;
            top: 0;
            left: 73px;
        }
    }
}

@media screen and (max-width: 1345px) {
    .product {
        z-index: 1000px;
        position: relative;
        height: 1085px;
        .wrapper {
            display: block;
        }
        &__person {
            position: absolute;
            top: 0;
            left: 25%;
        }
        &__content {
            position: absolute;
            top: 555px;
        }
    }
}

@media screen and (max-width: 1024px) {
    .product {
        z-index: 1000px;
        position: relative;
        /* height: 1085px; */
        .wrapper {
            display: block;
        }
        &__person {
            position: absolute;
            top: 0;
            left: 18%;
        }
        &__content {
            position: absolute;
            top: 600px;
        }
    }
}

@media screen and (max-width: 768px) {
    .product {
        z-index: 1000px;
        position: relative;
        .wrapper {
            display: block;
        }
        &__person {
            position: absolute;
            top: 0;
            left: 6%;
        }
    }
}

@media screen and (max-width: 576px) {
    .product {
        .wrapper {
            display: block;
            position: relative;
        }
        &__person {
            position: absolute;
            top: 0;
            left: -30px;
            img {
                width: 400px;
            }
        }
        &__content {
            position: absolute;
            top: 510px;
            left: 0px;
            /*  &__description {} */
            &__title {
                h1 {
                    font-size: 24px;
                    line-height: 36px;
                    color: #000000;
                    flex: none;
                    order: 0;
                    flex-grow: 0;
                    margin: 4px 0px;
                }
            }
        }
    }
}

@media screen and (max-width: 415px) {
    .product {
        height: 900px;
        .wrapper {
            display: block;
            position: relative;
        }
        &__person {
            position: absolute;
            top: 0;
            left: -50px;
            img {
                width: 297px;
                height: 297px;
            }
        }
        &__content {
            position: absolute;
            top: 330px;
            left: 0px;
            /*  &__description {} */
            &__title {
                h1 {
                    font-size: 24px;
                    line-height: 36px;
                    color: #000000;
                    flex: none;
                    order: 0;
                    flex-grow: 0;
                    margin: 4px 0px;
                }
            }
            &__description {
                height: 390px;
            }
        }
    }
}

@media screen and (max-width: 320px) {
    .product {
        height: 1100px;
        .wrapper {
            display: block;
            position: relative;
        }
        &__person {
            position: absolute;
            top: 0;
            left: -50px;
            img {
                width: 225px;
                height: 277px;
            }
        }
        &__content {
            position: absolute;
            top: 330px;
            left: 0px;
            /*  &__description {} */
            &__title {
                h1 {
                    font-size: 24px;
                    line-height: 36px;
                    color: #000000;
                    flex: none;
                    order: 0;
                    flex-grow: 0;
                    margin: 4px 0px;
                }
            }
            &__description {
                height: 390px;
            }
        }
    }
}