// CREATE THEME
// BACKGROUND COLOR

$background: (
  "primary": #000000,
  "secondary": #009efe,
  "while": #f4f4f4,
  "yellow": #ffc800,
);

// TEXT COLOR

$textcolor: (
  "primary": #000000,
  "secondary": #009efe,
  "while": #f4f4f4,
);

// FONT SIZES
$fontsize: (
  "h1": 48px,
  "h6": 16px,
);

// FONT WEIGHTS
$fontweights: (
  "fwbold": 700,
  "fwregular": 400,
);

// SPACING
$spacing: 10px;
